# Как вставить фото в Jupyter notebook

!['Komment'](Blo-Blo.jpeg)

# Задача №1

In [ ]:
Напишите функцию, которая в качестве параметра принимает число n 
и отображает n первых чисел Фибоначчи, не считая 0.

Sample Input:

3
Sample Output:

0 1 1 2

In [20]:
def fib(num):
    res = [0, 1]
    
    for i in range(num-1):
        s = res[-1]
        p = res[-2]
        res.append(s + p)
    
    return res

In [21]:
fib(3)

[0, 1, 1, 2]

# Pandas

In [25]:
import pandas as pd

In [ ]:
Напишите программу, которая подсчитывает количество уникальных элементов в столбце 'Subject'. 

Sample Input:

stud_id; Subject; grade
1;ТВиМС;60
2;МОР;70
3;ТВиМС;80
4;МОР;85
5;ТВиМС;100
Sample Output:

2

In [121]:
data = '''stud_id; Subject; grade\n
1;ТВиМС;60\n
2;МОР;70\n
3;ТВиМС;80\n
4;МОР;85\n
5;ТВиМС;100'''

In [122]:
data.split('\n')

['stud_id; Subject; grade',
 '',
 '1;ТВиМС;60',
 '',
 '2;МОР;70',
 '',
 '3;ТВиМС;80',
 '',
 '4;МОР;85',
 '',
 '5;ТВиМС;100']

In [118]:
pd.DataFrame(data)

                                                   0
0  stud_id; Subject; grade\n\n1;ТВиМС;60\n\n2;МОР...

In [80]:
s = input().split(';')

one = []
two = []
three = []


for i in range(5):
    ss = input().split(';')
    one.append(ss[0])
    two.append(ss[1])
    three.append(ss[2])

stud_id; Subject; grade
1;ТВиМС;60
2;МОР;70
3;ТВиМС;80
4;МОР;85
5;ТВиМС;100

In [98]:
df = pd.DataFrame({'stud_id':[], 'Subject':[], 'grade':[]})

In [99]:
df

Empty DataFrame
Columns: [stud_id, Subject, grade]
Index: []

In [111]:
s = input().split(';')

1;ТВиМС;60

In [114]:
s

['1', 'ТВиМС', '60']